.playGround {
   background-color: pink;
   width: 100%;
   min-height: 100vh;
   display: grid;
   /* grid-template-rows: 1fr 1fr; */
   grid-template-columns: repeat(auto-fit, minmax(150px, 25%));
}

.playGround .waveContaienr {
   /* grid-row: 2 / 3; */
   grid-column: 1 / -1;
   align-self: end;
}

.playGround .moveItem {
   width: 100px;
   height: 100px;
   background-color: green;
   position: absolute;
   left: 20%;
   top: 20%;
}

.red {
   background-color: red !important;
   top: 50% !important;
}

.blue {
   background-color: blue !important;
   left: 50% !important;
}
