.tech-component {
   width: 100%;
   height: 60px;
   margin-bottom: 20px;
   background-color: #e5e5e5;
   border-radius: 30px;
   display: flex;
   justify-content: flex-start;
   align-items: center;
   padding-left: 15px;
   transition: transform 0.3s;
   z-index: 100;
}

.tech-component:hover {
   transform: scale(1.08);
}

@-moz-document url-prefix() {
   .tech-component:hover {
      transform: none;
   }
}

.tech-component .image-container {
   height: 50px;
   width: 50px;
   display: flex;
   justify-content: center;
   align-items: center;
   /* background-color: green; */
   border-radius: 50%;
   margin-right: 5px;
   overflow: hidden;
}

.tech-component img {
   height: 85%;
   width: 100%;
   object-fit: contain;
}

.tech-component p {
}
