.float-items {
   position: relative;
}

.float-items .float-item {
   position: absolute;
   max-width: 7.5rem;
   max-height: 7.5rem;
}

.float-items .js-ballon {
   top: 65%;
   left: 66%;
   animation: move-balloon 6s ease-in-out infinite;
   transform-origin: bottom center;
}

@keyframes move-balloon {
   0%,
   100% {
      transform: translateY(0) rotate(3deg);
   }
   50% {
      transform: translateY(-20px) rotate(-3deg) scale(1.1);
   }
}

.float-items .js-astronaut {
   top: 15%;
   left: 45%;
   animation: rotate-astronaut 5s ease-in-out infinite;
}

@keyframes rotate-astronaut {
   0%,
   100% {
      transform: rotate(10deg) translateX(-20px);
   }

   50% {
      transform: rotate(-10deg) translateX(20px);
   }
}

@media (min-width: 1024px) {
   .float-items .js-ballon {
      left: 86%;
   }
   /* .float-items .float-item {
      max-width: 135px;
      max-height: 135px;
   } */
}
