.home {
   width: 100%;
   min-height: 100vh;
   display: grid;
   grid-template-columns: 1fr 1fr;
   grid-template-rows: 1fr 1fr;
   overflow: hidden;
}

.home .wave-container {
   grid-column: 1 / 3;
   grid-row: 2 / 3;
   align-self: end;
}

.home .float-items {
   grid-column: 1 / 3;
   grid-row: 1 / 3;
}

.home .navbar {
   grid-column: 1 / 3;
   grid-row: 1 / 2;
   z-index: 2;
}

.home .greeting {
   grid-column: 1 / 3;
   grid-row: 1 / 3;
   z-index: 1;
   margin-bottom: 11vh;
   margin-left: 11vw;
}

.home .avatar {
   grid-column: 2 / 3;
   grid-row: 1 / 3;
   opacity: 0;
   margin-bottom: 10vh;
   padding-right: 11vw;
   /* transition: opacity 0.5s; */
}

@media (min-width: 1024px) {
   .home .greeting {
      grid-column: 1 / 2;
   }
   .home .avatar {
      opacity: 1;
   }
}
