/** Project Page CSS */
.projects {
   width: 100%;
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   align-content: flex-start;
   /* background-color: #4e54c8; */
   --card-color: #ffffff;
   padding-bottom: 300px;
}

.projects .navbar {
   width: 100%;
   align-self: flex-start;
}

.projects .content {
   width: 95%;
}

/** ----- Card CSS -----*/
.projects .card-container {
   display: flex;
   justify-content: center;
   align-items: center;
   /* border: 1px solid purple; */
   perspective: 1500px;
   -webkit-perspective: 1500px;
   -moz-perspective: 1500px;
   margin: 0 0;
}
.projects .card {
   transform-style: preserve-3d;
   background-color: var(--card-color);
   width: 100%;
   border-radius: 30px;
   -webkit-box-shadow: 0px 0px 10px -3px #cccccc;
   -moz-box-shadow: 0px 0px 10px -3px #cccccc;
   box-shadow: 0px 0px 10px -3px #cccccc;
   padding: 25px 30px;
   margin: 10px 20px;
}

.projects .vertical-card-container {
   width: 100%;
}

.projects .vertical-card {
}

.projects .horizontal-card-container {
   width: 33.3%;
   min-width: 280px;
}

.projects .horizontal-card {
   height: 90%;
   width: 90%;
   padding-bottom: 60px;
}

/**----- Titles -----*/
/* Project Title */
.projects .project-title-container {
   width: 100%;
   margin: 10px 22.5px;
}

.projects .project-title {
   text-decoration: none;
   color: black;
   display: flex;
   flex-wrap: wrap;
   width: fit-content;
   cursor: pointer;
   transition: all 0.3s;
   font-size: 0.75rem;
}

.projects .project-title:hover {
   transform: scale(1.02);
   -webkit-box-shadow: 0px 6px 1px -3px var(--main-color);
   -moz-box-shadow: 0px 6px 1px -3px var(--main-color);
   box-shadow: 0px 6px 1px -3px var(--main-color);
}

.projects .project-title h1 {
   margin-right: 6px;
}

.projects .project-title span {
   color: var(--main-color);
}

.projects .project-title svg {
   color: var(--main-color);
   font-size: 1.8rem;
   -webkit-animation: bounce 1.8s infinite ease-in-out;
   -o-animation: bounce 1.8s infinite ease-in-out;
   -ms-animation: bounce 1.8s infinite ease-in-out;
   -moz-animation: bounce 1.8s infinite ease-in-out;
   animation: bounce 1.8s infinite ease-in-out;
}

/* SubTitle */
.projects .project-subtitle {
   width: 100%;
   margin: 0 22.5px;
   margin-top: 30px;
   font-size: 21px;
}

/* Vertical Card Title */
.projects .vertical-card h3 {
}

/* Horizontal Card Title */
.projects .horizontal-card h3 {
   margin-bottom: 20px;
   margin-left: 8px;
}

/**-----  Project General -----*/
.projects .project-item {
   width: 100%;
   display: flex;
   flex-wrap: wrap;
   align-content: flex-start;
}

.projects hr {
   margin: 70px 0;
   opacity: 55%;
   height: 2px;
   background-color: var(--card-color);
}

/**-----  Project 1 - FindTheProphets.com -----*/
.projects .display-container {
   width: 100%;
   display: flex;
   justify-content: center;
   padding: 30px 10px;
}

.projects .display-container img {
   width: 100%;
   max-height: 300px;
   object-fit: contain;
   margin: 10px 0;
}

/**-----  Project 2 - this.Portfolio -----*/
.projects .stack {
}

.projects .stack-card {
   display: grid;
   grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
   column-gap: 20px;
   row-gap: 20px;
   align-items: center;
   padding: 30px 35px;
   margin: 30px 20px;
}

.projects .stack-card .tech-component {
   margin: 0px 0px;
   min-width: 230px;
}

/** ----- Text CSS -----*/
.projects .description-card p {
   margin-top: 10px;
}

.projects .description-card p span {
   color: var(--main-color);
   font-weight: 600;
}

/** Animation */
@-webkit-keyframes bounce {
   0%,
   100% {
      transform: translateY(-5px);
   }
   50% {
      transform: translateY(0px);
   }
}

@keyframes bounce {
   0%,
   100% {
      transform: translateY(-5px);
   }
   50% {
      transform: translateY(0px);
   }
}

@media (min-width: 500px) {
   .projects .project-title {
      font-size: 1rem;
   }
   .projects .project-subtitle {
      font-size: 1.5em;
   }
}

@media (min-width: 1366px) {
   .projects .content {
      width: 70%;
   }
}

@media (min-width: 1440px) {
   .projects .content {
      width: 60%;
   }
}

@media (min-width: 1920px) {
   .projects .content {
      width: 55%;
   }
}
