/* Main Font */
/* font-family: 'Rubik', sans-serif; */
@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;600&display=swap");
/* "Source Sans Pro", sans-serif */
/* @import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400;600;700;900&display=swap"); */

/* Greeting Font */
/* 'M PLUS Rounded 1c', sans-serif */
@import url("https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@500;700;800&display=swap");

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

#root {
   --main-color: #1e90ff;
   --greeting-font: "M PLUS Rounded 1c", sans-serif;
   font-family: "Rubik", sans-serif;
   background-color: #eff7ff;
}

@media (min-width: 1024px) {
   html {
      font-size: 17px;
   }
}
